* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-image:url("https://cdn3.f-cdn.com/files/download/117624490/3ddesigntr.jpg?image-optimizer=force&format=webply&width=967");

}

.container {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

header {
    background-color: #8f2e2e;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

header h1 {
    font-size: 2.5em;
}

header p {
    font-size: 1.5em;
}

main {
    padding: 20px 0;
}

section {
    padding: 40px 0;
}

h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

.project {
    background-color: #ffffff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(46, 38, 38, 0.1);
}

.project h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.project p {
    margin-bottom: 10px;
}

.project a {
    display: inline-block;
    background-color: #8fc5f1;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
}
a:link{
    color:aqua;
}
a:link{
    color:rgb(70, 99, 61);
}

.project a:hover {
    background-color: #cec4c4;
}

form {
    max-width: 600px;
    margin: 0 auto;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

button[type="submit"] {
    background-color: #3125db;
    color: #b6ac28;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

button[type="submit"]:hover {
    background-color: #0a0a0a;
}
